body {
    background-color: #f5f5f5; /* Color de fondo */
    background-image: linear-gradient(45deg, #eaeaea 25%, transparent 25%, transparent 75%, #eaeaea 75%, #eaeaea), linear-gradient(45deg, #eaeaea 25%, transparent 25%, transparent 75%, #eaeaea 75%, #eaeaea);
    background-size: 60px 60px; /* Tamaño del patrón */
    background-position: 0 0, 30px 30px; /* Posición del patrón */
  }



a, p, li, label, input, select, button {
    font-family:  'Poiret One', cursive;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    color: #333;
  }
  h4 {
    text-align: left;
  }
.logone {
    width: 50px !important;
    height: 15px !important;
}

.logona {
    width: 12px !important;
    height: 12px !important;
}
.cabecera {
    background-color: #5672f9;
    margin-bottom: 50px;
    height: 70px;
    display: flex;
    justify-content: center;
}

img {
    width: 70px;
    height: 70px;
}
.back-to-home-button {
    background-color: #5672f9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    text-decoration: none;
    width: 50%;
}

.back-to-home-button:hover {
    background-color: #e394ff;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #5672f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    align-items: center;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.radio {
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #5672f9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-top: 30px;
    
}

button[type="submit"]:hover {
    background-color: #e394ff;
    color: #000;
}
a {
    color: #fff;
}
a:hover {
    color: #000;
}
.bb {
    display: block;
    align-items: center;
    font-size: 18px;
    color: #333;
}

.container2 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#credit-card-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#credit-card-image {
    max-width: 100%;
    display: none;
}

