@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Varela+Round&display=swap');

.descripcion_admin p{
    font-size: 17px;
    COLOR: black;
    font-weight: bold   ;
    font-family: 'Poiret One', cursive;
    padding-left: 30px;
    padding-right: 30px;
}


#panel_izq a{
    color: rgb(255, 255, 255);
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    background: #1c2a4c;
}


label{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 25px;
}
tbody tr td {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.card{
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    font-size: 25px;
    color: black;
}

.card input{
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    color: black;
    background-color: #ffffff!important;
    border:1px solid black;
    border-radius: 10px;
}
.card select{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color: black;
    background-color: #ffffff !important;
    border:1px solid black;
    border-radius: 10px;
}

.card-title h4{
    font-family: 'Varela Round', cursive;
    font-weight: bold;
    font-size: 35px;
    padding-left: 80px;
}
.formulario label{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 23px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 25px;
    color: black;
    border: 1px solid black;
    background-color: #BDD0FF;
    margin: 0 10px 0 10px;
}
.nav-tabs .nav-link{
    background: #BDD0FF;
    margin: 0 10px 0 10px;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}
.nav-tabs .nav-link:hover{
    background: #a0bbff;
}

.nav-tabs{
    border: none;
}

.text-center{
    font-size: 30px;
    font-weight: bold;
    color: black;
}


.text-center.pb-4.adm {
    
}

.btn:not(:disabled):not(.disabled){
    font-weight: bold;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: #BDD0FF;
    transition: 0.5s;
    margin-left: 20px;
}
.btn:not(:disabled):not(.disabled):hover{
    background-color: #a0bbff;
}
.perfil-user img{
    border-radius: 20px;
}


.card.perfil-user.modificar-user{
    padding: 20px;
}

.card.tarjetas{
    padding: 20px;
}

.modificar-user{
    border: none;
    background: none;
    box-shadow: none;
}
tbody tr td{
    font-family: 'Poiret One', cursive;
    font-weight: bold; 
}

.sidebar .nano>.nano-content {
    top: 140px;
}

.sidebar{
    background: #1c2a4c;
}

.sidebar .nano-content>ul li>a{
    background: rgb(255, 69, 140);
    background: #cfd6ff;
}

.sidebar .nano-content>ul li>a{
    background: #fff;
}
.logo{
    background: none;
    
}

.logo img{
    width: 70px;
    
}

.sidebar .nano-content>ul li.label{
    color: rgb(255, 255, 255);
    font-family: 'Poiret One', cursive;
    font-weight: bold; 

}

.sidebar .nano-content>ul>li.active>a, .sidebar .nano-content>ul>li.open>a, .sidebar .nano-content>ul>li>ul{
    background: rgb(240, 33, 33);
}