body {
   
    background-color: #f4f4f4;
}
p, li, input, select, button, label {
    font-family:  'Poiret One', cursive;
    color: #000;
    
  }

h1,h3 {
    font-family: 'Varela Round', sans-serif;
    
  }
h1 {
    text-align: center;
}
.back-to-home-button {
    display: inline-block;
    background-color: #5672f9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px; /* Espacio opcional alrededor del botón */
}

.back-to-home-button:hover {
    background-color: #e394ff;
}

.container {
    max-width: 1000px;
    height: 800px;
    margin: 20px 0px 0px 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    padding: 10px 10px ;

}
input {
    width: 50%;
}
input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #5672f9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 450px;
    margin-top: 30px;
}

button:hover {
    background-color: #e394ff;
}

.bb {
    display: flex;
    justify-content: space-around;
}
.radio {
    width: auto;
    color: blue;
}